@import 'config';
@import 'util';


%square-to-circle {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
  &:hover {
    border-radius: 50px;
    border: none;
    background-color: $navy;
  }
}