$tomato: rgb(255, 117, 93);
$navy: rgb(59, 63, 106);
$gray-txt: rgb(189, 189, 189);
$font-headline: 'Rye', cursive;
$font-serif:'Nixie One', cursive;
$font-sans:'Dosis', sans-serif;

//globals
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

