$tomato: rgb(255, 117, 93);
$navy: rgb(59, 63, 106);
$font-headline: 'Rye', cursive;
$font-serif:'Nixie One', cursive;
$font-sans:'Dosis', sans-serif;

//globals
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
